<div class="container">
     
        <h4 id="text-center">Busca Avançada de Endereço: </h4>
        <form id="location-form">
          <input type="text" id="location-input" class="form-control form-control-lg">
          <br>
          <button type="submit" class="btn btn-primary btn-block">Buscar</button>
        </form>
        <div class="card-block" id="formatted-address"></div>

      </div>

<div id="map"></div>    