<% include ./head %>

<section id="about" class=""> 
  <div class="container rows-section ">
      <div class="bg-back-div text-white">
      
          <div class="col-md-12" style="padding-bottom: 10px">
            <h5 class="line" ><%- body.titulo %></h5>
            <p class="text-justify">
                <%- body.conteudo %>
            </p>
          </div>
        </div>
 
</div>
</section>

<% include ./footer %>