


<!-- jQuery -->
<script src="/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- jQuery Tags Input -->
<script src="/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- pnotify -->
<script src="/pnotify/dist/pnotify.js"></script>
<!-- <script src="../../../publicswitchery/dist/switchery.min.js"></script> -->
<!-- Full Caldenda-->
<script src="/fullcalendar/dist/fullcalendar.js"></script>
<script src="/fullcalendar/dist/lang/pt-br.js"></script>
<!-- Select2 -->
<script src="/select2/dist/js/select2.full.min.js"></script>
 <!-- Datatables -->
 <script src="/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Parsley -->
<script src="/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="/autosize/dist/autosize.min.js"></script>
<!-- jquery.inputmask -->
<script src="/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<!-- jQuery autocomplete -->
<script src="/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- Moment    -->
<script src="/chartjs/dist/Chart.min.js"></script>
<!-- Axios -->
<script src="/axios/dist/axios.min.js"></script>
<!--Chosen -->
<script src="/chosen/js/jquery.chosen.js"></script>
<script src="/chosen/js/jquery.chosen-ajax.js"></script>
<!-- Custom Theme Scripts -->
<script src="/build/js/custom.js"></script>
<script src="/build/js/contato.js"></script>
<script src="/build/js/calendario.js"></script>
<script src="/build/js/relatorio.js"></script>
</body> 
</html>