<% include ../template/header %>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2> Editar Conteúdo</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>

          <% if(messages.erro)
              {messages.erro.forEach(function(error){%>
                  <div class="alert alert-danger"><%= error %></div>
          <% })} %>      

          <form method="POST" action="/conteudo/edit">
            <div class="col-md-8 col-md-offset-2">
            
            <input type="hidden" name="id" value="<%= body.id-%>">

            <% include ./form %>

            <div class="row"> 
              <div class="col-md-12"> 
                <button type="submit" class="btn btn-success">Salvar</button>
              </div>

            </div>
          </div>
      </form>

      </div>
    </div>
  </div>
</div>

   
<% include ../template/footer %>
<script src="https://cdn.ckeditor.com/4.10.0/full/ckeditor.js"></script>

<script>
  CKEDITOR.replace( 'edit');
</script>




