
  
  
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
    <label>Titulo</label>
    <input name="titulo" class="form-control" placeholder="Informe o titulo" value="<%= body.titulo-%>">
  </div>
  </div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <label>Conteudo</label>

        <textarea id="edit" name="conteudo" style="margin-top: 30px;" placeholder="Type some text">
            <%= body.conteudo-%>
        </textarea>

    </div>
  </div>
  </div>          

  
    
    
 
 
  


 

    
