<div class="row"> 
    
        <div class="col-md-6">
            <div class="form-group">
              <label>Descrição </label>
              <input class="form-control" value="<%- body.descricao %>" name="descricao">
            </div>
        </div>

        
        <div class="col-md-6">
                <div class="form-group">
                  <label>Descrição </label>
                  <select name="grupo_tag_id" class="form-control">
                      <% grupo_tags.forEach(function(item) { %>
                            <option value="<%- item.id %>"> <%- item.descricao %></option>
                      <% }); %>
                    </select>
                </div>
            </div>
    </div>   