
  <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label>Titulo</label>
            <input name="titulo" class="form-control" placeholder="Informe o titulo" value="<%= body.titulo-%>">
          </div>
      </div>
      
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <label>Tipo Noticia Imagem</label>
          <select class="form-control" id="tipo_noticia_img" name="tipo_noticia_img">
              <option value="">Selecione...</option>
             <option value="destaque">Destaque</option>
             <option value="comum">Comum</option>
          </select>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 up-img" style="display: none;"> 
        <div class="form-group">
          <label>Upload da Imgem</label>
          <input type="file" id="photo" name="photo" />
        </div>
       </div>
     
       <div class="col-md-6 col-sm-12 col-xs-12 up-img" style="display: none;"> 
          <img src="data:image/png;base64,<%= body.path %>" alt="" width="50%" height="50%">
       </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <label>Conteudo</label>
            <textarea id="edit" name="conteudo" style="margin-top: 30px;" placeholder="Type some text">
                <%= body.conteudo-%>
            </textarea>
    
        </div>
      </div>
      </div>          
        
        
     
     
      
    
    
     
    
        
    