
<% include ../template/header %>

<h2> Editar Grupo de Tag </h2>
<hr>

<% if(messages.erro)
{messages.erro.forEach(function(error){%>
    <div class="alert alert-danger"><%= error %></div>
<% })} %>  

<form method="POST" action="/grupo_tags/edit" class="form-horizontal form-label-left">
  
   <input name="id" type="hidden" value="<%- body.id %>">
   <% include ./form %> 

<div class="row"> 
    <div class="col-md-12"> 
     <button type="submit" class="btn btn-success">Salvar</button>
   </div>
 </div>

 </form>   

<% include ../template/footer %>