<div class="row"> 
   
        <div class="col-md-12">
            <div class="form-group">
              <label>Descrição </label>
              <input class="form-control" value="<%- body.descricao %>" name="descricao">
            </div>
        </div>
    </div>  